.home .summary-subtitle {
  font-size: 1.3em;
  text-transform: none;
}

.home .summary-title {
  font-size: 3em;
}

.home .show-all-link {
  --background: transparent;
  --color: var(--ion-color-medium);
  font-size: 1.15em;
}

.home .logout-button {
  margin-top: 0;
  margin-left: 16px;
}
