.debtors-form .decor-label {
  color: var(--ion-color-medium);
  text-align: center;
  font-size: 14px;

  margin: 8px 0;
}

.ios .debtors-form .list-elem {
  --padding-start: 0;
  --inner-padding-end: 0;
}

.debtors-form .person-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

.debtors-form .debtor-entry > ion-item {
  width: calc(100% - 6em);
}

.debtors-form .amount-text {
  text-align: right;
}

.debtors-form .rest-label {
  --color: var(--ion-color-medium);
}

.debtors-form .rest-label > .positive {
  color: var(--ion-color-success);
}

.debtors-form .rest-label > .negative {
  color: var(--ion-color-danger);
}
