.expense-list {
  margin-top: 1em;
}

.expense-list > ion-item {
  --background: var(--ion-color-light-shade);
  --min-height: 3.5em;
}

.expense-list .outstanding-label {
  text-align: right;
  font-size: medium;
}

.expense-list .outstanding-label > p {
  margin: 0;
  line-height: 20px;
}
