.item-list {
  margin-top: 1em;
}

.item-list > ion-item {
  --background: var(--ion-color-light-shade);
  --min-height: 3.5em;
}

.item-list .end-label {
  text-align: right;
  font-size: medium;
}

.item-list .end-label > p {
  margin: 0;
  line-height: 20px;
}

.debt-list .person-item {
  --background: transparent;
  width: 100%;
}
